In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read and pre-process data
# data = pd.read_csv('./data/household_power_consumption.txt', delimiter=';', index_col=0, low_memory=False)
# data.index = pd.to_datetime(data.index, dayfirst=True)
# for column in df.columns[1:]:
#     data[column] = pd.to_numeric(data[column], errors='coerce')

In [3]:
# Store in a new file for further use
# data.to_csv('./data/data.csv')

In [4]:
df = pd.read_csv('./data/data.csv', low_memory=False, index_col=0)

In [5]:
df

,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,,
2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...
2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [6]:
df.loc['2006/12/01' : '2009/11/30']

,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,,
2007-01-01,00:00:00,2.580,0.136,241.97,10.6,0.0,0.0,0.0
2007-01-01,00:01:00,2.552,0.100,241.75,10.4,0.0,0.0,0.0
2007-01-01,00:02:00,2.550,0.100,241.64,10.4,0.0,0.0,0.0
2007-01-01,00:03:00,2.550,0.100,241.71,10.4,0.0,0.0,0.0
2007-01-01,00:04:00,2.554,0.100,241.98,10.4,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2009-12-31,23:55:00,1.746,0.158,239.95,7.2,0.0,0.0,18.0
2009-12-31,23:56:00,1.786,0.234,240.09,7.4,0.0,0.0,19.0
2009-12-31,23:57:00,1.784,0.232,239.99,7.4,0.0,0.0,18.0
2009-12-31,23:58:00,1.792,0.236,240.62,7.4,0.0,0.0,18.0
2009-12-31,23:59:00,1.792,0.238,240.82,7.4,0.0,0.0,19.0

In [ ]:
plt.hist(df['Global_active_power'], x='Date')
plt.show()